In [11]:
import folium
import geopandas as gpd
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from folium import plugins
from shapely.geometry import Point

from src.config import DADOS_LIMPOS
from src.graficos import PALETTE, SCATTER_ALPHA

sns.set_theme(palette="bright", style='dark')

In [12]:
df = pd.read_parquet(DADOS_LIMPOS)

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,median_income_cat,rooms_per_household,population_per_household,bedrooms_per_room,population_per_room
0,-122.23,37.88,41,880,129,322,126,8.3252,452600,NEAR BAY,5,6.984127,2.555556,0.146591,0.365909
1,-122.22,37.86,21,7099,1106,2401,1138,8.3014,358500,NEAR BAY,5,6.238137,2.109842,0.155797,0.338217
2,-122.26,37.84,42,2555,665,1206,595,2.0804,226700,NEAR BAY,2,4.294118,2.026891,0.260274,0.472016
3,-122.26,37.85,50,1120,283,697,264,2.1250,140000,NEAR BAY,2,4.242424,2.640152,0.252679,0.622321
4,-122.26,37.84,50,2239,455,990,419,1.9911,158700,NEAR BAY,2,5.343675,2.362768,0.203216,0.442162

In [13]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 17515 entries, 0 to 17514
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   longitude                 17515 non-null  float64
 1   latitude                  17515 non-null  float64
 2   housing_median_age        17515 non-null  int8
 3   total_rooms               17515 non-null  int16
 4   total_bedrooms            17515 non-null  int16
 5   population                17515 non-null  int16
 6   households                17515 non-null  int16
 7   median_income             17515 non-null  float64
 8   median_house_value        17515 non-null  int32
 9   ocean_proximity           17515 non-null  category
 10  median_income_cat         17515 non-null  int64
 11  rooms_per_household       17515 non-null  float64
 12  population_per_household  17515 non-null  float64
 13  bedrooms_per_room         17515 non-null  float64
 14  population_per_room       17515 non-null  float64
dtypes: category(1), float64(7), int16(4), int32(1), int64(1), int8(1)
memory usage: 1.3 MB

In [14]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,median_income_cat,rooms_per_household,population_per_household,bedrooms_per_room,population_per_room
count,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000,17515.000000
mean,-119.513273,35.606241,27.266115,2514.896489,515.906537,1385.809877,484.407194,3.700456,189688.061547,2.954953,5.260755,2.929839,0.211285,0.584600
std,1.985391,2.148380,11.324505,1593.711025,320.946868,844.291144,295.661729,1.541810,96037.570708,1.006643,1.128166,0.685911,0.047841,0.206795
min,-124.300000,32.540000,1.000000,6.000000,2.000000,3.000000,2.000000,0.499900,14999.000000,1.000000,1.714286,0.750000,0.113535,0.166667
25%,-121.605000,33.920000,18.000000,1468.000000,300.000000,816.000000,287.000000,2.552300,114300.000000,2.000000,4.455787,2.469410,0.176860,0.447914
50%,-118.470000,34.250000,28.000000,2136.000000,438.000000,1195.000000,415.000000,3.483800,171700.000000,3.000000,5.210526,2.850365,0.203350,0.523885
75%,-117.980000,37.680000,36.000000,3128.000000,643.000000,1737.000000,605.000000,4.625000,243900.000000,4.000000,5.963796,3.301620,0.238610,0.659836
max,-114.550000,41.950000,51.000000,11026.000000,2205.000000,5804.000000,1979.000000,10.594100,500000.000000,5.000000,10.352941,5.392384,0.406295,1.529833